[package]
edition = "2018"
name = "winprint"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
scopeguard = "1.1"
thiserror = "1.0"
windows = "0.20"

[build-dependencies]
windows = "0.20"
